# Node.js
node_modules/
npm-debug.log
yarn-error.log
package-lock.json
yarn.lock

# Environment variables
.env

# Logs
logs/
*.log
*.tgz
.env

# Build output
dist/
build/
coverage/

# Temporary files
*.tmp
*.temp
*.bak

# Operating System files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/
*.swp
*.swo
*.sublime-project
*.sublime-workspace
