.searchDiv{
    display: flex;
    flex-flow: row wrap;
    align-content: center;
  /*  background-color: red;*/
    column-gap: 10px;
    width:250px ;
    height: 80px;
    margin: 0px auto 0px 20px ;
}

.searchInput{
    width: 200px;
    height: 30px;
    border-radius: 10px;
    background-color: black;
    color: white;
}

.searchButton{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}


.sendDiv{
    display: flex;
    flex-flow: row wrap;
    align-content: center;
   justify-content: space-between;
    width:350px ;
    height: 50px;
    margin: 0px 0px 0px 0px ;
    padding: 5px;
    
}

.sendInput{
    width: 300px;
    height: 30px;
    border-radius: 10px;
    background-color: black;
    color: white;
   
}

.sendButton{
    width: 35px;
    height: 35px;
    border-radius: 50%;
}


.sendSpinner {
    display: inline-block; /* Allows it to be inline with other elements */
    width: 20px; /* Width of the loader */
    height: 20px; /* Height of the loader */
    border: 4px solid rgba(0, 0, 0, 0.1); /* Light border */
    border-top: 4px solid #3498db; /* Color of the spinner */
    border-radius: 50%; /* Make it a circle */
    animation: spin 0.6s linear infinite; /* Spin animation */
}

@keyframes spin {
    0% {
        transform: rotate(0deg); /* Start at 0 degrees */
    }
    100% {
        transform: rotate(360deg); /* End at 360 degrees */
    }
}

@media (max-width:768px){
    .searchDiv{
   
     
        
        width:350px ;
        height: 50px;
        margin: 90px auto 10px auto;
      
    }
    
    .searchInput{
        width: 290px;
        height: 40px;
        font-size: large;
      
    }

    .searchButton{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        font-size: large;
    }
    


    .sendDiv{
      
        width:390px ;
        height: auto;
        margin-top: 0px;
        padding: 2px;
      
    }
    
    .sendInput{
        width: 320px;
        height: 45px;
        font-size: x-large;
        padding: 2px;
       
    }
    
    .sendButton{
        width: 50px;
        height: 55px;
        border-radius: 50%;
        font-size: x-large;
    
     
    }
    
}